<div class="rich-list-item">
    <div class="rich-list-item-image-container">
        {% if item.linkEnabled %}
            {{ vic_link(item.linkParameters, item.linkLabel) }}
        {% endif %}
            <div class="rich-list-item-image" style="background-image:url({{ item.poster.url }});">
            </div>
        {% if item.linkEnabled %}
        </a>
        {% endif %}
    </div>

    <div class="strong">
        {{ item.kind }}
    </div>

    <h3 class="h5">{{ item.title }}</h3>

    <p class="rich-list-item-image-content">
        {{ item.description|raw }}
    </p>
</div>
